:root {
    --main-bg-color: #005546;
    --main-orange-color: #FF6231;
    --primary-black-color: #181818;
    --secondary-black-color: #818C99;
    --primary-white-color: #ffffff;
    --primary-gray-color: #181818;
    --secondary-gray-color: #D9D9D9;
}